<nav class="navbar">
    <div class="container">
        <ul class="navbar-menu">
            <li class="navbar-item"><a href="{% url 'home_page' %}">Главная</a></li>
            {% if user.is_authenticated %}
                <li class="navbar-item"><a href="{% url 'profile_page' %}">Профиль</a></li>
                <li class="navbar-item"><a href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
                <li class="navbar-item"><a href="{% url 'login_page' %}">Войти</a></li>
            {% endif %}
        </ul>
    </div>
</nav>