{% extends 'base/base.html' %}

{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'user/login_page.css' %}">
{% endblock %}


{% block title %}Login page{% endblock %}

{% block content %}
<div class="login_page-login-wrapper">
    <h2 class="login_page-login-title">Вход</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div>
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <button type="submit" class="login_page-login-btn">Войти</button>
    </form>

    <div class="login_page-login-rgt">
        <p class="login_page-login-rgt-text">Нет аккаунта?
        <a href="{% url 'register_page' %}">Зарегистрироваться</a></p>
    </div>
</div>
{% endblock %}