{% extends 'base/base.html' %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'main/home_page.css' %}">
{% endblock %}



{% block content %}
<div class="home_page-content-wrapper">
    <div class="home_page-sidebar">
        <p>Фильтр по категориям</p>
    </div>
    <div class="home_page-posts-grid">
        {% for post in posts %}
            <div class="home_page-post">
                <a href="{% url 'detail_page' post.id %}" class="home_page-post-title"><h2>{{ post.title }}</h2></a>
                <img src="{{ post.image.url }}" class="home_page-post-image" alt="">
                {% if request.user == post.author %}
                    <a href="{% url 'edit_page' post.id %}" class="home_page-post-edit">Редактировать</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
